<div class="text-center">
    <a asp-action="GetAccountRequests" asp-controller="Backoffice" asp-route-id="1">View account requests</a>
    <a asp-action="GetBlockedAccounts" asp-controller="Backoffice" asp-route-id="1">View disabled accounts</a>
</div>