@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Give us your money and we promise you we'll keep it so safe that even you won't get to have them back ever again.</p>
</div>

<div class="text-center">
    <a href="https://google.com">External link</a>
</div>

<div class="text-center">
    <a asp-action="Reflect">Reflect</a>
</div>

<img src="http://localhost:5000/img/bugs.jpg" width="1" height="1"/>


<script type="text/javascript">
    if ("geolocation" in navigator) {
        navigator.geolocation.getCurrentPosition(function (position) {
            console.log(`Lat: ${position.coords.latitude}, Long: ${position.coords.longitude}`);
        });
    }
</script>