@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Give us your money and we promise you we'll keep it so safe that even you won't get to have them back ever again.</p>
</div>
