@model TerribleBankInc.ViewModels.LoginViewModel
@{
    ViewData["Title"] = "Login";
}

<h1>Login</h1>

<form asp-controller="Auth" asp-action="Login" method="post">
    <div>
        <label asp-for="Username">Username</label>
        <input asp-for="Username"/>
    </div>
    <div>
        <label asp-for="Password">Password</label>
        <input asp-for="Password" />
    </div>
    <input type="submit" value="Login"/>
</form>