@using TerribleBankInc.Models.Enums
@model TerribleBankInc.Models.ViewModels.NewBankAccountRequestViewModel

<h4>NewBankAccountRequestViewModel</h4>
<hr/>
<div class="row">
    <div class="col-md-4">
        <form asp-action="RequestNew">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                @Html.HiddenFor(model => model.ClientId)
                <label asp-for="Currency" class="control-label"></label>
                <select asp-for="Currency" asp-items="Html.GetEnumSelectList<CurrencyTypes>()">
                    <option selected="selected" value="">Please select</option>
                </select>

                <span asp-validation-for="Currency" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Request" class="btn btn-primary"/>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>